h2 {
	color: blue;
}
.bold {
	font-weight: bold;
}
#mapid {
	height: 300px;
}
h2 span {
	color: black;
	font-weight: normal;
	font-size: 0.75em;
}
textarea {
	width: 100%;
}
h2 textarea {
	color: blue;
	font-weight: bold;
	font-size: 1em;
}
img:hover {
	cursor: pointer;
}
	#datastream_2183670 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183673 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183676 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183679 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183682 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183685 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183691 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183694 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183697 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2183700 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
