h2 {
	color: blue;
}
.bold {
	font-weight: bold;
}
#mapid {
	height: 300px;
}
h2 span {
	color: black;
	font-weight: normal;
	font-size: 0.75em;
}
textarea {
	width: 100%;
}
h2 textarea {
	color: blue;
	font-weight: bold;
	font-size: 1em;
}
img:hover {
	cursor: pointer;
}
	#datastream_2111930 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2111933 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2111936 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2111939 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
	#datastream_2111942 {
		min-width: 300px;
		max-width: 555px;
		height: 250px;
		margin: 0 auto;
	}
